<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type="text/css"  th:href="@{/css/databaseStyle.css}">

    <title>Data Visualization</title>
</head>

<body>
    <h1>Student Database</h1>
    <a th:href="@{/navigate}" class="add-button">+</a>
    </a>
    <div class="table-container">
        <table id = "table" class = "bordered-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Weight</th>
                    <th>Height</th>
                    <th>Hair Color(in Hex)</th>
                    <th>GPA</th>
                    <th>Favorite OS</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="student : ${students}">
                    <td th:text="${student.getName()}"></td>
                    <td th:text="${student.getWeight()}"></td>
                    <td th:text="${student.getHeight()}"></td>
                    <td th:text="${student.getHairColor()}"></td>
                    <td th:text="${student.getGpa()}"></td>
                    <td th:text="${student.getFavOS()}"></td>
                    <td>
                        <button class="edit-button" th:onclick="'javascript:editStudent(' + ${student.uid} + ')'">Edit</button>


                        <button class= "delete-button" th:onclick="'javascript:deleteStudent(\'' + ${student.getUid()} + '\')'">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
</div>

    <button id = "visualize-button" onclick="visualize()">Visualize</button>

    <script th:src="@{/javascript/databaseJS.js}"></script>
</body>
</html>
