/* Global Styles */
body {
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

/* Table Styles */
.table-container {
  width: 90%;
  max-height: 80%;
  overflow: auto;
  margin: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #1a1a1a; /* Dark gray */
}

thead th {
  position: sticky;
  top: 0;
  background-color: #333; /* Dark gray */
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #333; /* Dark gray */
}

/* Button Styles */
.add-button,
.edit-button,
.delete-button,
#visualize-button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.3s;
}
.add-button {
  border-radius: 50px; /* Rounded shape */
}
td:nth-child(4) {
  width: 20% /* Adjust the width as per your requirement */
}

.add-button:hover,
.edit-button:hover,
.delete-button:hover,
#visualize-button:hover {
  background-color: #45a049; /* Darker green */
}

.add-button:active,
.edit-button:active,
.delete-button:active,
#visualize-button:active {
  background-color: #3e8e41; /* Active state green */
}
